<div class="no-margin row justify-content-between footer">
    <div class="col-sm-6 left-area">
            <div class="row no-margin social-area">
                <div class="social-icon"><img src="../../assets/drawables/social/icon-linkedin.png" alt=""></div>
                <div class="social-icon"><img src="../../assets/drawables/social/icon-twitter.png" alt=""></div>
                <div class="social-icon"><img src="../../assets/drawables/social/icon-insta.png" alt=""></div>
            </div>
            <div class="signup-area">
                <div class="signup-label">
                    Signup for the latest
                </div>
                <input type="email" class="signup-input" placeholder="email address">
            </div>
    </div>
    <div class="col-sm-6 right-area">
        <div class="row no-margin">
            <div class="col-sm-6 no-padding short-links">
                <div class="link-title">
                    Company
                </div>
                <div class="link-text clickable"><a>Press</a></div>
                <div class="link-text clickable" (click)="goToUrl('/contactus')"><a>FAQ</a></div>
                <div class="link-text clickable" (click)="goToUrl('/contactus')"><a>Contact</a></div>
                <div class="link-text clickable"><a>Terms of service</a></div>
                <div class="link-text clickable"><a>Privacy policy</a></div>
            </div>
            <div class="col-sm-6 no-padding short-links">
                <div class="link-title">
                    Join us
                </div>
                <div class="link-text clickable"><a>Careers</a></div>
                <div class="link-text clickable"><a>Farm careers</a></div>
            </div>
        </div>
    </div>    
</div>
<div class="no-margin row bottom-footer">
    <div class="col-sm-6 no-padding">
        415 Boulevard Lebeau, Saint-Laurent, QC H4N 1S2
    </div>
    <div class="col-sm-6 spacing-left">
        2020 AQUAVERTI. All rights reserved
    </div>
</div>