<app-top-menu class="top-menu"></app-top-menu>
<div style="padding: 30px 0 40px 0; background-color: #1e6e5e"></div>
<div class="header_separator"></div>
<div class="container contact_us_info_section">
  <div class="row">
    <div class="col-6 text-center">
      <h4>CONTACT US</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="name">Name*</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                 placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" class="form-control" id="email" placeholder="email">
        </div>
        <div class="form-group">
          <label for="email">Message*</label>
          <textarea class="form-control" id="message" name="message"></textarea>
        </div>

        <button type="submit" class="btn btn-primary bg-forest-green">SEND</button>
      </form>
    </div>
  </div>
</div>
<!-- Map Section -->
<div class="section_container">
  <div class="row padding-0 margin-0">
    <div class="col-8 padding-0">
      <div id="map"></div>
    </div>
    <div class="col-4 padding-0 grass_bg text-center">
      <div class="text-section">
        <p><i class="icon-map-marker icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;415 Boulevard Lebeau, Saint-Laurent, QC H4N 1S2</p>
        <p><i class="icon-phone icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;(514) 332-5553</p>
        <p><i class="icon-time icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Monday-Friday 8:30am-5:30pm</p>
      </div>

    </div>
  </div>
</div>
<!-- Map Section -->
<!-- FAQ Section -->
<div class="container">
  <div class="row ">
    <div class="col-12 padding-top-bottom-50px text-center">
      <h3>FAQS</h3>
    </div>
    <div class="col-12 padding-bottom-50px">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                White meidiland on standard trunk
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is Lorem Ipsum?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is Lorem Ipsum?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div><div class="card">
        <div class="card-header" id="headingFourth">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false" aria-controls="headingFourth">
              What is Lorem Ipsum?
            </button>
          </h5>
        </div>
        <div id="collapseFourth" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQ Section -->
<app-footer></app-footer>
