@import "../../variables.scss";
.story-area{
    height: 100vh;
    position: relative;
    padding: 64px;
    background-image: url('../../../assets/drawables/bg--plants1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.story-img-area{
    padding: 0 32px;
    margin: 0 auto;
    .story-img{
        height: 100%;
        background-image: url('../../../assets/drawables/Image3-crop.jpg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
    .mob-img{
        display: none;
    }
}

.story-zone{
    padding: 0 48px;
    .story-title{        
        padding: 120px 70px;
        font-size: 30px;
        font-family: 'Montserrat Bold Italic', sans-serif !important;
        color: #000;
    }
    .aquaverty-btn{
        position: absolute;
        bottom: 24px;
        left: 120px;
        font-size: 18px;
        color: $dark-green;
        font-family: 'Montserrat Regular', sans-serif !important;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: $yellow-green;
        }
        .btn-text{
            margin-right: 8px;
        }
        .btn-icon{
            padding-top: 4px;
            i{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: $max-tablet-width){
    .story-area{
        padding: 64px 32px;
        background-image: url('../../../assets/drawables/Ipad-bg--plants1.gif');
    }
    .story-img-area{
        padding: 0 16px;
    }
    .story-zone{
        padding: 48px 24px;
        .story-title{
            padding: 16px;
            // font-size: 24px;
        }
        .aquaverty-btn{
            left: 32px;
        }
    }
}

@media (max-width: $max-mobile-width){
    .story-area{
        padding: 0;
        background: none;
        height: auto;
        background-color: #e8e8e8;
    }
    .story-img{display: none;}
    .story-img-area{
        padding: 0 16px;
        .mob-img{
            display: block;
            width: 100%;
        }
    }
    .story-zone{
        padding: 16px;
        background-image: url('../../../assets/drawables/plants1-mobile.gif');
        background-position: bottom;
        background-repeat: no-repeat;
        .aquaverty-btn{
            position: relative;
            margin-top: 32px !important;
            margin-bottom: 72px !important;
            left: 0;
            margin-left: 16px !important;
        }
    }
}