<div class="no-margin row justify-content-between menu">
    <div class="logo-section row">
        <div class="logo"><img src="../../assets/drawables/site_logo.png"></div>
        <div class="row">
            <div class="aqua">Aqua</div>
            <div class="verty">Verti</div>
        </div>
    </div>
    
    <div class="menu-items row" [ngClass]="{'lighbg': lighbg == true}">
        <div (click)="goToUrl('/home')">Home</div>
        <div>Story</div>
        <div (click)="goToUrl('/team')">Team</div>
        <div>Technology</div>
        <div>Products</div>
        <div>Careers</div>
        <div (click)="goToUrl('/contactus')">Contact us</div>
    </div>

    <div class="menu-img" *ngIf="showMobMenu == false">
        <img src="../../assets/drawables/Hamburger.png"  (click)="showMobMenu = true">
    </div>
    <div class="mobile-menu">
        <div class="mob-menu-items no-padding col-sm-12" *ngIf="showMobMenu == true">
            <div class="row mob-top-item row justify-content-between">
                <div class="mobile-logo"><img src="../../assets/drawables/SiteLogo_mob.png"></div>
                <div class="mobile-close"><img src="../../assets/drawables/X.png" (click)="showMobMenu = false"></div>
                
            </div>
            <div class="row no-margin mob-item" (click)="goToUrl('/home')">Home</div>
            <div class="row no-margin mob-item">Story</div>
            <div class="row no-margin mob-item" (click)="goToUrl('/team')">Team</div>
            <div class="row no-margin mob-item">Technology</div>
            <div class="row no-margin mob-item">Products</div>
            <div class="row no-margin mob-item">Careers</div>
            <div class="row no-margin mob-item" (click)="goToUrl('/contactus')">Contact us</div>
        </div>
    </div>

</div>