@import "../variables.scss";
.menu{
    padding: 0 32px;
    .logo-section{
        .logo img{
            height: 68px;
            cursor: pointer;
        }
        .menu-icon img{
            margin-top: 32px;
            height: 30px;
            cursor: pointer;
            margin-right: 6px;
            &.remove-margin{
                margin-top: 0;
            }
        }
        .aqua{
            line-height: 86px;
            color: $dark-green;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-right: 1px;
        }
        .verty{
            line-height: 86px;
            color: $yellow-green;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    .menu-items{
        font-family: 'Montserrat Light Italic', sans-serif !important;
        line-height: 72px;
        color: #fff;
        &.lighbg{
            color: $dark-green;
        }
        div{
            margin-right: 16px;
            font-style: italic;
            cursor: pointer;
            &:hover{
                color: $yellow-green;
            }
        }
    }
}
.mobile-menu{
    display: none;
}
.menu-img{
    display: none;
}
@media (max-width: $max-tablet-width){
    .menu{
        padding: 0 16px;
        .menu-items{
            div{
                margin-right: 8px;
            }
        } 
    }
}

@media (max-width: $max-mobile-width){
    .menu{background-color: $light-green;}
    .menu-items{        
        display: none;
    }
    .menu-img{
        display: block;
        padding: 0 16px;
        text-align: right;
        line-height: 86px;
        img{
            width: 42px;
        }
    }
    .mobile-menu{
        display: block;
        position: absolute;
        right: 0;
        width: 100%;
        .mob-menu-items{
            background-color: #fff;
            width: 100%;
            .mob-top-item{
                padding: 4px 32px;
                height: 72px;
                line-height: 64px;
                background-color: $bg-grey;
                .mobile-logo{
                    img{
                        height: 64px;
                    }
                }
                .mobile-close{
                    img{
                        height: 36px;
                    }
                }
            }
            .mob-item{
                font-size: 20px;
                padding: 16px 24px;
                border-bottom: 2px solid $bg-grey;
            }
        }
    }
}