<div class="products-area">
    <div class="products-title row">
        <img src="../../../assets/drawables/Leaf-1.png" alt=""> Our Products
    </div>

    <div class="products-carousel">
        <owl-carousel-o [options]="customOptions2" #owlCar>
            <ng-template carouselSlide>
                <div class="carousel-container">
                    <div class="carousel-sub-container">
                        <div class="image-container" [ngStyle]="{'background-image': 'url(../../../assets/drawables/carousel/home_parsley.png)'}">
                            <div class="slide-title">Title 1</div>
                        </div>
                        <div class="carousel-text" (mouseenter)="showText1 = true">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat libero, blandit quis leo in,</p>
                        </div>
                        <!-- <div class="carousel-text animate__animated animate__fadeInUp" *ngIf="showText1==true" (mouseleave)="showText1 = false">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat libero, blandit quis leo in,</p>
                        </div> -->
                    </div>
                </div>             
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel-container">
                    <div class="carousel-sub-container">
                        <div class="image-container" [ngStyle]="{'background-image': 'url(../../../assets/drawables/carousel/home_lettuce.png)'}">
                            <div class="slide-title">Title 1</div>
                        </div>
                        <div class="carousel-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat libero, blandit quis leo in,</p>
                        </div>
                    </div>
                </div>             
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel-container">
                    <div class="carousel-sub-container">
                        <div class="image-container" [ngStyle]="{'background-image': 'url(../../../assets/drawables/carousel/home_kale.png)'}">
                            <div class="slide-title">Title 1</div>
                        </div>
                        <div class="carousel-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat libero, blandit quis leo in,</p>
                        </div>
                    </div>
                </div>             
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel-container">
                    <div class="carousel-sub-container">
                        <div class="image-container" [ngStyle]="{'background-image': 'url(../../../assets/drawables/carousel/home_dill1.jpg)'}">
                            <div class="slide-title">Title 1</div>
                        </div>
                        <div class="carousel-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat libero, blandit quis leo in,</p>
                        </div>
                    </div>                    
                </div>             
            </ng-template>
        </owl-carousel-o>

        <div class="custom-carousel-btn custom-prev" (click)="owlCar.prev()">
            <div class="carousel-img-container">
                <img src="../../../assets/drawables/Arrow-l.png" alt="">
            </div>
        </div>
        <div class="custom-carousel-btn custom-next" (click)="owlCar.next()">
            <div class="carousel-img-container">
                <img src="../../../assets/drawables/Arrow-r.png" alt="">
            </div>
        </div>
    </div>

    <div class="products-quote">
        <img src="../../../assets/drawables/Leaf-2.png" alt=""> Being local means we are able to hravest at peak flavor
        and nutritional value and that's reflected on your plate, where the real test takes place.<img src="../../../assets/drawables/Leaf-2.png">
    </div>
</div>