@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'app/variables.scss';

@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('./assets/fonts/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Bold Italic';
    src: url('./assets/fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'FREESCPT';
    src: url('./assets/fonts/FREESCPT.TTF');
}

.no-margin{
    margin: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $light-green !important;
}

:focus {
    outline:none !important; 
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}