<div class="about-area">
    <div class="tabs-area row justify-content-between no-margin">
        <div class="tabs-section" (click)="currentPage = 0" [ngClass]="{'selected': currentPage == 0}">
            <div class="tab-img" (mouseenter)="showimg1 = true" (mouseleave)="showimg1 = false">
                <img src="../../../assets/drawables/about/icon1-color2.png" *ngIf="showimg1 == false && currentPage != 0">
                <img src="../../../assets/drawables/about/icon1-color1.png" *ngIf="showimg1 == true || currentPage == 0">
            </div>
            <div class="tab-title">CONSISTENT</div>
        </div>
        <div class="tabs-section" (click)="currentPage = 1" [ngClass]="{'selected': currentPage == 1}">
            <div class="tab-img" (mouseenter)="showimg2 = true" (mouseleave)="showimg2 = false">
                <img src="../../../assets/drawables/about/icon2-color2.png" *ngIf="showimg2 == false && currentPage != 1">
                <img src="../../../assets/drawables/about/icon2-color1.png" *ngIf="showimg2 == true || currentPage == 1">
            </div>
            <div class="tab-title">NUTRITIOUS</div>
        </div>
        <div class="tabs-section">
            <div class="tab-img" (mouseenter)="showimg3 = true" (mouseleave)="showimg3 = false"
            (click)="currentPage = 2" [ngClass]="{'selected': currentPage == 2}">
                <img src="../../../assets/drawables/about/icon3-color2.png" *ngIf="showimg3 == false && currentPage != 2">
                <img src="../../../assets/drawables/about/icon3-color1.png" *ngIf="showimg3 == true || currentPage == 2">
            </div>
            <div class="tab-title">FLAVOR-FILLED</div>
        </div>
    </div>
    <div class="description-area">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                White meidiland on standard trunk
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is Lorem Ipsum?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is Lorem Ipsum?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div><div class="card">
        <div class="card-header" id="headingFourth">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false" aria-controls="headingFourth">
              What is Lorem Ipsum?
            </button>
          </h5>
        </div>
        <div id="collapseFourth" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      </div>
       <!-- <div class="description-section" (mouseenter)="showtext = true" (mouseleave)="showtext = false">
            <div class="description-title" *ngIf="showtext == false">
                Presticides Free
            </div>
            <div class="description-text" *ngIf="showtext == true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at aliquet odio. Ut odio lacus, ornare nec porta et, blandit sed libero. Etiam ullamcorper convallis ultrices. Maecenas urna lacus, semper eu pellentesque non, tincidunt sit amet mauris. Nullam sit amet sagittis erat. Cras venenatis ornare auctor. Integer eu dignissim lorem. In dui nisi, placerat a orci quis, malesuada venenatis ligula. Mauris lacinia sodales neque nec pharetra.
            </div>
        </div>
        <div class="description-section" (mouseenter)="showtext = true" (mouseleave)="showtext = false">
            <div class="description-title" *ngIf="showtext == false">
                Presticides Free
            </div>
            <div class="description-text" *ngIf="showtext == true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at aliquet odio. Ut odio lacus, ornare nec porta et, blandit sed libero. Etiam ullamcorper convallis ultrices. Maecenas urna lacus, semper eu pellentesque non, tincidunt sit amet mauris. Nullam sit amet sagittis erat. Cras venenatis ornare auctor. Integer eu dignissim lorem. In dui nisi, placerat a orci quis, malesuada venenatis ligula. Mauris lacinia sodales neque nec pharetra.
            </div>
        </div>-->
    </div>
</div>
