.top-menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.section_container{
  width: 100%;
  display: block;
  position: relative;
}
/*.member-section{
  background-image: url(../../assets/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0 0 0;
  min-height: 350px;
}*/
