<app-top-menu class="top-menu"></app-top-menu>
<div style="padding: 30px 0 40px 0; background-color: #1e6e5e"></div>
<div class="section_container member-section">
  <div class="container">
    <div class="owl-carousel" id="members-block">
      <div class="item">
        <div class="row">
          <div class="col-lg-7 col-sm-6">
            <img data-src="images/member1.png"
                 alt="Member" style="height: 400px; width: auto"
                 class="lazyOwl img-fluid">
          </div>
          <div class="col-lg-5 col-sm-6">
            <div class="member_details">
              <h3>Member Name</h3>
              <h4>Team Member</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-lg-7 col-sm-6">
            <img data-src="images/member3.png"
                 alt="Member" style="height: 400px; width: auto"
                 class="lazyOwl img-fluid">
          </div>
          <div class="col-lg-5 col-sm-6">
            <div class="member_details">
              <h3>Member Name</h3>
              <h4>Team Member</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
